.FR13NDS {
    margin-right: 0;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 25px auto;
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    transition: transform .2s;
}

.FR13NDS:hover {
    transform: scale(1.2);
}
